<!DOCTYPE html>
<html>
<head>
  <title>The Quran in a Box</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body class="container-fluid">
  <header>The Quran in a Box 📿</header>


<div id ="bodydiv">
  {% for question, answer in data_list %}
  <div>
    <h5> <b>User:</b> </h5>
    <h5 id="output">{{question | safe}}</h5>
  
    <h5> <b>Bot:</b> </h5>
    <div id="answer">
      {% set conclusion = answer.split("**Conclusion**")[-1] %}
        <p>{{ conclusion.split('\n\n')[-1] | replace('**', '<strong>')|replace('**', '</strong>') | replace('*', '<br>•') | safe }}</p>
      
      <details>
        <summary><u>Detailed Answer</u></summary>
        {% for paragraph in answer.split('\n\n') %}
          <p>{{ paragraph | replace('**', '<strong>')|replace('**', '</strong>') | replace('*', '<br>•') | safe }}</p>
        {% endfor %}
      </details>
    </div>
      <br>
      {% endfor %}
  </div>
  <footer>
  <form method="POST" action="/Quran">
    <input class="form-control" type="textarea" id="question" name="question" placeholder="Ask anything">
    <button type="submit" class="btn btn-outline-dark">💭</button>
  </form>
  <a href="/" class="btn btn-outline-dark">🏠 Back to Home</a>
</footer>
</div>
</body>
</html>