
::-webkit-scrollbar {
  display: none;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(28, 23, 36);

  }

h5 {
    font-size: 1em; /* This makes all h5 elements the same size as the body text */
    margin-bottom: 0.5em; /* Adds a little space below each h5 */
}
.qa-separator {
  margin: 20px 0;
  border-top: 1px solid #dee2e6;
}
#bodydiv div {
    margin-bottom: 1em; /* Adds space between each Q&A pair */
}

#bodydiv{

    color: #f0f0f0;
    overflow-x :hidden; 
    width: 100%;
    margin: 1%;
    font-family: Arial, sans-serif;
    font-size: 15px;
  }
  /* #bodydiv h5{
    margin: 1%;
  } */


  header {
    background: transparent;
    color: #f0f0f0;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 5px 70px rgb(67, 67, 151);
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 1%;
    backdrop-filter: blur(10px);
  }
  
  footer {
    font-family: Arial, sans-serif;
    position: fixed;
    width: 95%;
    background-color: transparent;
    color: #f0f0f0;
    padding: 1%;
    border-radius: 5px;
    bottom: 0;
  }
  
  footer form {
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(28, 23, 36, 0.5);
    backdrop-filter: blur(10px);
  }
  
  footer form input {
    padding: 10px;
    color: inherit;
    border: none;
    background: transparent;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    width: 93%;
  }
  
  footer form button {
    background: transparent; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
  }
  
  summary u{
    cursor: pointer;
    
  }
  /* Ensure content doesn't get hidden behind the footer */
  body::after {
    content: '';
    display: block;
    height: 60px; /* Should match the footer's height */
  }
  main {
    flex-grow: 1;
  }